@model IEnumerable<pizzaweb.Models.Tables.TblContact>

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Contact</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Message)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName) 

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
}
    </tbody>
</table>
