
@{
    ViewData["Title"] = "Succsess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="position: relative;height: 600px;">
    <div style="margin-top: 100px;top: 0;bottom: 0;left: 0;right: 0;position: absolute;" class="information">
        <div class="cartsuccesscard">
            <!-- <div style="border-radius: 200px; height: 200px; width: 200px; background: #F8FAF5; margin: 0 auto;">
                <i class="checkmark">✓</i>
            </div> -->
            <h1>Đặt hàng thành công !</h1>
            <p>
                Cảm ơn bạn đã sử dụng sản phẩm của chúng tôi !<br /> Chúng tôi sẽ liên hệ với bạn sớm nhất có thể để xác nhận về đơn hàng !!
            </p>
        </div>
    </div>
</main>

